.App {
    font-family: sans-serif;
    text-align: center;
    padding: 25px;
}
.Container {
    max-width: 450px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}
.Numberfield {
    flex: 1;
}
.Text {
    line-height: 32px;
    padding-right: 15px;
    flex: 1;
}
.Logo {
    width: 300px;
    margin: 20px;
}
